@import "mini-default.min.css";
@import "iziToast.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: Roboto, arial, sans, sans-serif;
  margin: 0;
}

form {
  width: clamp(340px, 90%, 800px);
  margin: auto;
}

button[data-action=saveForm] {
  margin-left:80%;
}

a {
  color: blue;
}

input {
  width: 100%;
}
div[data-type] {
  float:left;
  margin-right:20px;
}
div[data-type=multiline-fld] {
  min-width:33tw;
}

legend {
  font-weight: bold;
  font-size: 120%
}

label {
  font-size: 120%;
  font-style: italic;
}

cite {
  /* margin-top: -20px; */
  font-size: .75rem;
  float:right;
}

div[data-type] > label {
  color: darkmagenta;
}

div[text-fld] input[type=text] {
  width: 100%;
}

div[data-name=title] {
  width: 60%;
}

fieldset[data-child] {
  float: left;
  height: 25vh;
  overflow: auto;
}

.box {
  /* width: clamp(340px, 90%, 800px); */
  margin: auto;
  max-height: 80%;
}
/* table.data-result thead tr:last-child td {
  padding: 0;
} */
table.data-result {
  max-height: 80%;
}

table.data-result td.search-col {
  width:100%;
  padding: 0;
}
/* .cke_contents_ltr */
.cke_contents_ltr p {
  /* min-width:90tw; */
  width: 100%;
  font-family: Quicksand, arial, sans, sans-serif;
  /* font-size: max(1.2rem, 1.5vw); */
  margin: 0;
  padding: 0;
  font-size: 3.0vh;
}

.cke_contents_ltr p cite {
  margin-top: -20px;
  font-size: .75rem;
  float:right;
}

.cke_contents_ltr p h3 {font-size: 3.3vh;}
.cke_contents_ltr p h2 {font-size: 3.6vh;}
.cke_contents_ltr p h1 {font-size: 4.0vh;}
